html {
  font-size: 16px;
}

button {
  background-color: inherit;
  border: none
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dashboard-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.dashboard-header > form > input {
  background-color: #e2e8f0;
  border: none;
}

.header-actions button {
  background-color: #1992d4;
  color: white;
}

.dashboard-sidebar {
  background-color: #1992d4;
  color: white;
  grid-row: 1 / 3;
  display: grid;
  grid-auto-rows: min-content;
}

.dashboard-sidebar > h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.dashboard-main {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 8fr 3fr;
}

.projects-section {
  grid-row: 1 / 3;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user-card {
  display: grid;
  grid-template-columns: auto 1fr;
}

.user-card > img {
  grid-row: 1 / 3;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.dashboard-sidebar a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Makes the link inherit text color from its parent */
  font-size: 1.125rem;
  font-weight: 500;
}

.project-card, .announcement-card, .user-card {
  background-color: white;
}





